<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Disney+ UI tests" verbose="1">
    <test name="Privacy policy navigation">
        <classes>
            <class name="com.disney.interview.tests.DisneyPlusNavigationTest"/>
        </classes>
    </test>
</suite>
